<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

<script src="https://cdn.tailwindcss.com"></script>


<body>

    <div class="bg-gradient-to-br from-indigo-900 to-green-900 min-h-screen overflow-auto relative bg-cover bg-center"
        style="background-image: url('https://images.unsplash.com/photo-1579226905180-636b76d96082?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

        <div class="absolute inset-0 bg-black/80"></div>

        <div class="container relative max-w-5xl mx-auto px-4">
            <div class="w-4/5">
                <h1 class="mt-20 text-white text-6xl font-bold">POST YOUR OWN THOUGHTS <br /><span
                        class="text-blue-400">on the PYOT.</span></h1>
            </div>
            <div class="w-5/6 my-10 ml-6">
                <h3 class="text-gray-300">
                    Create, edit & see all your created posts with <br />
                    <strong class="text-white">faster package installations & greater security</strong>
                    <br />than even local environments.
                </h3>
            </div>

            <!-- <div class="get-started ml-6">
                <a href="#"
                    class="relative px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-2xl shadow-md transition-all duration-300 ease-in-out hover:shadow-blue-400 hover:bg-blue-700 hover:pl-8 after:content-['→'] after:absolute after:left-full after:opacity-0 hover:after:opacity-100 hover:after:left-[90%] after:transition-all after:duration-300">
                    Get Started
                </a>
            </div> -->

            <!-- <div
                class="group text-white w-full sm:w-1/2 md:w-1/3 lg:w-1/5 flex items-center font-bold gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition">
                <div>
                    <a href="/registration">Get Started</a>
                </div>
                <div>
                    <i
                        class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
                </div>
            </div> -->

            <div class="button">
                <a href="/registration" class="bg-sky-700 hover:bg-sky-500 px-8 py-5 rounded-lg text-white font-bold sm:w-1/2">Get Started</a>
            </div>

            <div class="text-white relative mb-8">
                <h3 class="text-uppercase font-semibold mt-10">Frameworks & Libraries</h3>
                <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-5 uppercase">
                    <div
                        class="group flex items-center bg-indigo-900 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition">
                        <img class="w-9"
                            src="https://cdn.iconscout.com/icon/free/png-256/free-node-js-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-5-pack-logos-icons-3030179.png?f=webp&w=256"
                            alt="Node.js Logo" />

                        <div>
                            <span>Node Js</span>
                            <span class="text-xs text-blue-300 block">JS Runtime</span>
                        </div>
                        <div>
                            <i
                                class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
                        </div>
                    </div>

                    <div
                        class="group flex items-center bg-indigo-900 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition">
                        <img class="w-9"
                            src="https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png"
                            alt="Express.js Logo" />

                        <div>
                            <span>Express Js</span>
                            <span class="text-xs text-blue-300 block">Framework</span>
                        </div>
                        <div>
                            <i
                                class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
                        </div>
                    </div>

                    <div
                        class="group flex items-center bg-indigo-900 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition">
                        <img class="w-9" src="https://assets.viget.com/mongo-logo.png" alt="MongoDB Logo" />

                        <div>
                            <span>Mongo DB</span>
                            <span class="text-xs text-blue-300 block">Database</span>
                        </div>
                        <div>
                            <i
                                class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
                        </div>
                    </div>

                    <div
                        class="group flex items-center bg-indigo-900 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition">
                        <img class="w-9"
                            src="https://static-00.iconduck.com/assets.00/file-type-ejs-icon-2048x1151-hdkbavbz.png"
                            alt="">
                        <div>
                            <span>EJS</span>
                            <span class="text-xs text-blue-300 block">Embedded Javascript</span>
                        </div>
                        <div>
                            <i
                                class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>