<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Page</title>
</head>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

<body>
    <div class="main_container relative min-h-screen flex justify-center items-center p-4 sm:p-10 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-cover bg-center"
        style="background-image: url('https://images.unsplash.com/photo-1653549892798-c8596ad08ee6?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

        <div class="absolute inset-0 bg-black/50"></div>
        <div class="form-container relative w-full max-w-4xl bg-white p-6 sm:p-10 rounded-md shadow-lg">
            <div class="formcont flex flex-col sm:flex-row items-center">
                <!-- Image Section -->
                <div class="img flex justify-center w-full sm:w-1/2 p-4 sm:p-6">
                    <img src="/images/toupload/userRegistration.avif" alt=""
                        class="h-auto max-h-[250px] sm:max-h-[500px] object-contain">
                </div>
                <!-- Form Section -->
                <div class="form w-full sm:w-1/2 sm:ml-5">
                    <form action="/login" method="post" class="flex flex-col">
                        <input type="text" name="email" placeholder="Write your email here"
                            class="w-full mb-3 sm:mb-4 outline-none px-4 py-3 sm:py-4 rounded-md bg-gray-100 focus:ring-2 focus:ring-purple-500">
                        <input type="password" name="password" placeholder="Enter your password"
                            class="w-full mb-3 sm:mb-4 outline-none px-4 py-3 sm:py-4 rounded-md bg-gray-100 focus:ring-2 focus:ring-purple-500">
                        <input type="submit" value="Login"
                            class="px-8 py-3 sm:py-4 rounded-md bg-sky-500 hover:bg-sky-700 text-white mt-3 transition">
                    </form>

                    <div class="login mt-5 sm:mt-7 text-center sm:text-left">
                        <h2>Don't have an account? <a href="/registration" class="text-blue-700 hover:underline">Create here</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>